.description{

	background: url('../../img/bg/description_bg.jpg') center no-repeat;
	background-color: rgb(0, 41, 61);
	
}

.description .container{
	
	margin: 0 auto;
    max-width: 1140px;
    min-height: 600px;
    padding: 125px 40px 0 50px;
	
}

.deshead{
	display: block;
	width: 330px;
	text-align: left;
	font-size: 41.7px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
}

.text1{
	margin-top: 70px; 
	width: 500px;
	font-size: 20.9px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
}

.text2{
	margin-top: 30px;
	width: 400px;
	font-size: 20.9px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
}

@media(max-width: 1199px){
	.description .container{
		max-width: 960px;
	}
}

@media(max-width: 991px){
	.description .container{
		max-width: 720px;
	}
	.text1{
		font-size: 16px;
	}
	.text2{
		font-size: 16px;
		margin-top: 60px;
	}
}

@media(max-width: 767px){
	.description .container{
		max-width: 540px;
	}
	.text1{
		max-width: 370px;
	}
	.text2{
		max-width: 300px;
	}
}

@media(max-width: 575px){
	.description .container{
		max-width: 320px;
		padding-left: 40px;	
	}
	.deshead{
		font-size: 30px;
		max-width: 250px;
		margin-top: 18px;
	}
	.text1{
		max-width: 280px;
		font-size: 14px;
	}
	.text2{
		max-width: 187px;
		font-size: 14px;
	}
}
