.form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.divider {
    width: 550px;
    color: #fff;
}

.form input {
    width: 550px;
    height: 25px;
    margin-top: 20px;
    padding: 0 10px;
    background-color: rgb(0, 41, 61);
    outline: none;
    border: none;
    
    font-size: 16.7px;
    font-weight: 400;
    color: #ffffff;
}

.form textarea {
    width: 550px;
    height: 85px;
    margin-top: 20px;
    resize: none;
    background-color: rgb(0, 41, 61);
    padding: 8px;
    border: 1px solid #fff;

    font-family: 'Roboto', sans-serif;
    font-size: 16.7px;
    font-weight: 400;
    color: #ffffff;
}

.btn_submit{
    display: block;
    margin-top: 25px;
    width: 250px;
    height: 50px;
    opacity: 0.96;
    background-color: #f24c26;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s all;
}
.btn_submit:hover {
    font-size: 19px;
    box-shadow: 3px 3px 15px #fff;
    background-color: #f24c26;
}

.form_modal .btn_submit {
    margin: 0 auto;
    margin-top: 30px;
}


@media (max-width: 1199px){
    .form input{
        width: 410px;
    }
    hr.divider{
        width: 375px;
    }
    .form textarea{
        width: 375px;
    }
}
@media (max-width: 991px){
    .form input{
        max-width: 350px;
        font-size: 12px;
    }
    .contacts .wrapper{
        width: 340px;
    }
    hr.divider{
        width: 325px;
    }
    .form textarea{
        width: 325px;
        font-size: 12px;
    }
}
@media (max-width: 767px){
    .form textarea{
        height: 170px;
    }
}
@media (max-width: 575px){
    .form input{
        max-width: 200px;
        font-size: 12px;
    }
    .wrapper{
        width: 200px;
    }
    hr.divider{
        width: 200px;
    }
    .form textarea{
        width: 200px;
        font-size: 12px;
    }
    .btn_submit{
        width: 200px;
    }
}