.overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.86);
}

.modal {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    background-color: rgb(0, 41, 61);
    padding: 25px 40px;
} 

.modal .modal__close {
    position: fixed;
    top: -7%;
    right: -10%;
    font-size: 47px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s all;
} 

#thanks .modal__close {
    top: -16%;
    right: -10%;
} 

.modal .modal__close:hover {
    color: #f24c26;
}

.modal .modal__title {
    font-size: 27px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.modal .modal__subtitle {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #fff;
}
#order #thanks {
    display: none;
}

@media (max-width: 1199px) {
    #thanks .modal__close {
        top: -15%;
        right: -10%;
    } 
}
@media (max-width: 991px) {
    #thanks .modal__close {
        top: -17%;
    }
    #thanks .modal__title {
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    .form input {
        max-width: 300px;
        font-size: 14px;
    }
    .form_modal .btn_submit {
        margin-top: 40px;
    }
    .modal .modal__subtitle {
        margin-top: 7px;
        font-size: 18px;
    }
    #thanks .modal__title {
        font-size: 17px;
    }
    #thanks .modal__subtitle {
        font-size: 16px;
    }
    #thanks .modal__close {
        top: -13%;
        right: -18%;
    }
}
@media (max-width: 575px) {
    .overlay .modal .modal__close{
        top: -7%;
        right: -18%;
    }
    .overlay .modal {
        padding: 19px 26px;
    }
    .overlay .modal .modal__title {
        font-size: 17px;
    }
    .overlay .modal .modal__subtitle {
        font-size: 13px;
    }
    .overlay .modal .form_modal {
        margin-left: 0;
    }
    .overlay .modal .form_modal input {
        max-width: 150px;
        font-size: 11px;
    }
    .overlay .modal .form_modal .divider {
        width: 150px;
    }
    .overlay .modal .form_modal .btn_submit {
        width: 150px;
        height: 40px;
        font-size: 16px;
        margin-top: 30px;
    }
    #thanks .modal__subtitle {
        display: none;
    }
    #thanks .modal__close {
        top: -25%;
        right: -27%;
    } 
}