.products{
	background-color: #f24c26;
}

.products_head{
	display: block;
	background-color: white;
	font-size: 62.5px;
	line-height: 1.2;
	font-weight: 400;
	color: #f24c26;
}

.headline{
	margin: 0 auto;
    width: 100%;
    min-height: 150px;
	background-color: white;
}
.head{
	margin: 0 auto;
    width: 1140px;
    padding: 60px 40px 0 50px;
}

.products .container{
	margin: 0 auto;
    max-width: 1140px;
    min-height: 450px;
    padding: 0 40px 0 55px;
   
}

.product_line{
	display: flex;
	height: 450px;
}

.list{
	display: flex;
	flex-wrap: wrap;
	max-width: 1440px;
	align-items: flex-start;
    justify-content:space-between;
    padding-top: 20px;
}

.service{
	display: block;
	margin-top: 20px;
	width: 340px;
	height: 200px;
}

.wrong_icon{
	height: 104px;
}

.text{
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
}

.text h2{
	font-size: 25px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
}

@media (max-width: 1199px){
	.products{
		min-height: 900px;
	}
	.products .container{
		max-width: 960px;
		padding: 0 0 0 45px;
	}
	.products_line{
		max-width: 800px;
	}
	.service{
		min-width: 300px;
		max-width: 300px;
		margin-top: 40px;
		margin-left: 10px;
	}
	.head{
    	max-width: 960px;
	}
	.ic_marg{
		min-height: 104px;
	}
}

@media(max-width: 991px){
	.products{
		min-height: 890px;
	}
	.products .container{
		max-width: 720px;
	}
	.head{
    	max-width: 720px;
	}
	.list{
		padding-top: 0;
	}
	.ic_marg{
		min-height: 109px;
	}
}

@media(max-width: 767px){
	.products .container{
		max-width: 540px;
		padding: 0;
	}
	.headline{
		min-height: 100px;
	}
	.head{
		padding-top: 20px;
		min-height: 100px;
	}
	.products_head{
		font-size: 50px;
	}
	.list{
		justify-content: center;
	}
	.service{
		min-width: 97%;
	}
	.service img{
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.service .text{
		text-align: center;
		font-size: 14px;
	}
	.head{
    	max-width: 540px;
    	padding-right: 50px;
    	text-align: center;
	}
}

@media(max-width: 575px){
	.products .container{
		max-width: 320px;
		padding: 0;
	}
	.service{
		min-height: 240px;
		margin-left: 0;
	}
	.products_head{
		font-size: 30px;
	}
	.headline{
		margin: 0 auto;
    	width: 100%;
        min-height: 0px;
    	height: 80px;
		background-color: white;
	}
	.head{
		max-width: 320px;
    	padding: 20px 40px 0 50px;
	}
    .service .text {
        width: 222px;
        margin: 0 auto;
    }
    .service .text h2 {
        font-size: 20px;
    }
}