.promo {
    background: url('../../img/bg/main.jpg') center no-repeat;
    width: 100%;
    background-color: rgb(0, 41, 61);
}
.promo .container {
    margin: 0 auto;
    max-width: 1140px;
    min-height: 600px;
    padding: 0 40px;
    padding-top: 50px; 
}
.promo .container .wrapper {
    display: flex;
    position: relative;
    min-height: 100px;
    justify-content: space-between;
    background-color: none !important; 
}
.promo .container .wrapper .logo {
    width: 250px;
    height: 100px;
}
.promo .container .wrapper .menu {
    display: flex;
    max-width: 666px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.promo .container .wrapper .menu .menu__item {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
}
.promo .container .wrapper .menu .menu__item a {
    color: #fff;
    font-size: 14px;
    text-decoration-line: none;
}
.promo .container .wrapper .menu .menu__item a:hover{
    color: #f24c26;
}
.promo .container .wrapper .btn_start {
    margin-top: 23px;
    width: 154px;
    height: 54px;
    background-color: rgb(0, 41, 61);
    border: 2px solid #f24c26;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s all;
}
.promo .container .wrapper .btn_start:hover {
    font-size: 13px;
    box-shadow: 3px 3px 15px #fff;
    background-color: #f24c26;
}
.promo .container .wrapper .hamburger {
    display: none;
}
.promo .container .title {
    width: 517px;
    height: 82px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    font-size: 37.5px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}
.promo .container .subtitle {
    text-align: center;
    margin-top: 46px;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}
.promo .container .btn_big {
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    width: 250px;
    height: 60px;
    opacity: 0.96;
    background-color: #f24c27;
    border-radius: 10px;
    border: none;
    font-size: 20.9px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s all;
}
.promo .container .btn_big:hover {
    box-shadow: 3px 3px 15px #fff;
}


@media (max-width: 1199px) {
    .promo .container {
        max-width: 960px;
    }
    .promo .container .wrapper .logo {
        width: 215px;
    }
    .promo .container .wrapper .menu .menu__item {
        margin-right: 0px;
        margin-left: 13px;
    }
    .promo .container .wrapper .btn_start {
        width: 130px;
    }
    .promo .container .title {
        width: 570px;
        font-size: 41.5px;
    }
    .promo .container .subtitle {
        margin-top: 50px;
    }
}
@media (max-width: 991px) {
    .promo .container {
        max-width: 720px;
        min-height: 560px;
    }
    .promo .container .wrapper .menu {
        width: 600px;
        justify-content: space-evenly;
    }
    .promo .container .wrapper .menu .menu__item {
        margin-right: 6px;
        margin-left: -1px;
    }
    .promo .container .wrapper .menu .menu__item a{
        font-size: 12px;
    }
    .promo .container .title {
        margin-top: 35px;
        font-size: 30px
    }
    .promo .container .subtitle {
        margin-top: 30px;
        font-size: 20px;
    }
    .promo .container .btn_big {
        margin-top: 50px;
    }
    .promo .container .wrapper .btn_start{
        display: none;
    }
}
@media (max-width: 767px) {
    .promo .container {
        position: relative;
        max-width: 540px;
    }
    .promo .container .wrapper .hamburger {
		display: block;
		position: absolute;
		right: -1%;
        width: 41px;
		top: 50%;
		transform: translateY(-50%);
    }
	.promo .container .wrapper .hamburger span {
        display: block;
        background-color: #fff;
        height: 4px;
        width: 100%;
        margin-bottom: 5px;
        transition: 0.5s all;
    }
	.promo .container .wrapper .hamburger_active span {
        margin-bottom: -2px;
    }
    .promo .container .wrapper .hamburger_active span:nth-child(1) {
        transform: translateY(5px) rotate(-45deg);
    }
    .promo .container .wrapper .hamburger_active span:nth-child(2) {
        display: none;
    }
    .promo .container .wrapper .hamburger_active span:nth-child(3) {
        transform: translateY(4px) rotate(45deg);
    }
    .promo .container .wrapper {
        min-height: 75%;
    }
    .promo .container .wrapper .logo {
        top: 30px;
        position: absolute;
        width: 250px;
        right: 50%;
        transform: translateX(50%);
    }
    .promo .container .wrapper .menu {
        display: flex;
        position: fixed;
        padding-left: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        top: 0;
        left: -100%;
        height: 100%;
        width: 74%;
        transition: 1s all;
        background-color: rgba(0,0,0,0.9);
        z-index: 1;
    }
    .promo .container .wrapper .menu_active {
        display: flex;
        position: fixed;
        padding-left: 30px;
        flex-direction: column;
        align-items: flex-start;
        top: 0px;
        left: 0%;
        height: 100%;
        width: 74%;
        transition: 1s all;
        background-color: rgba(0,0,0,0.9);
        z-index: 1;
    }
    .promo .container .wrapper .menu .menu__item {
        display: list-item;
        padding-right: 0;
    }
    .promo .container .wrapper .menu .menu__item a{
        display: block;
        text-align: left;
        font-size: 25px;
        margin-bottom: 40px;
    }
    .promo .container .title {
        margin-top: 160px;
        width: 100%;
    }		
}
@media (max-width: 575px) {
    .promo .container {
        position: relative;
        max-width: 280px;
    }
    .promo .container .wrapper .logo {
        top: 30px;
        position: absolute;
        width: 170px;
        right: 50%;
        transform: translateX(50%);
    }
    .promo .container .wrapper .hamburger {
        right: -37px;
        width: 34px;
    }
    .promo .container .wrapper .menu {
        display: flex;
        position: fixed;
        padding-left: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        top: 0;
        left: -100%;
        height: 100%;
        width: 236px;
        transition: 1s all;
        background-color: rgba(0,0,0,0.9);
        z-index: 1;
    }
    .promo .container .wrapper .menu #princip {
        display: none;
    }
    .promo .container .wrapper .menu_active {
        display: flex;
        position: fixed;
        padding-left: 30px;
        flex-direction: column;
        align-items: flex-start;
        top: 0px;
        left: 0%;
        height: 100%;
        width: 236px;
        transition: 1s all;
        background-color: rgba(0,0,0,0.9);
        z-index: 1;
    }
    .promo .container .title {
        margin-top: 145px;
        font-size: 20px;
    }	
    .promo .container .subtitle {
        margin-top: 25px;
        font-size: 15px;
    }
    .promo .container .btn_big {
        width: 150px;
        height: 50px;
        font-size: 17px;
    }  
}