.team {
    
    background-color: none;
}

.team .container {
    margin: 0 auto;
    width: 1140px;
    min-height: 800px;
    padding: 0 40px;
    padding-top: 98px; 
    background-color: none;
    background: url('../../img/bg/team.png') center no-repeat;
    height: 600px;
    background-position: 30px 145px;
}

.title_team {
    font-size: 62.5px;
    line-height: 1.2;
    font-weight: 700;
    color: #f24c27;
}

.team .wrapp {
    width: 930px;
    min-height: 401px;
    display:flex;
    flex-wrap: wrap;
    background-color: none;
    justify-content: space-between;
    margin-top: 55px;
}

.human {
    width: 450px;
    height: 177px;
    display:flex;
}

.human_text {
    font-size: 20.9px;
    line-height: 1.2;
    font-weight: 400;
    color: rgb(0, 41, 61);
    margin-top: 50px;
    margin-left: 25px;
}

@media (max-width: 1199px) {
    .team .container {
        max-width: 960px;
        background-position: 60px 165px;
        background-size: 800px 469px;
    }
    .team .wrapp {
        width: 850px;
        min-height: 250px;
    }
    .team .human {
        width: 420px;
    }
    .team .human img {
        display: block;
        width: 150px;
        height: 150px;
    }
    .team .human_text {
        margin-top: 38px;
    }
}

@media (max-width: 991px) {
    .team .container {
        max-width: 720px;
        background-position: 35px 158px;
        background-size: 650px 381px;
        padding: 0 20px;
        padding-top: 70px;
        min-height: 0px;
        height: 650px;
    }
    .team .wrapp {
        width: 650px;
        min-height: 333px;
    }
    .team .human{
        max-width: 320px;
        max-height: 100px;
    }
    .team .human_text {
        font-size: 15px;
        margin-top: 15px;
        margin-left: 15px;
    }
    .team .title_team {
        font-size: 62.5px;
    }
}

@media (max-width: 767px) {
    .team .container {
        max-width: 540px;
        background-position: 35px 130px;
        background-size: 500px 293px;
        padding: 0 20px;
        padding-top: 70px;
        min-height: 0px;
        height: 550px;
    }
    .team .wrapp {
        width: 100%;
        min-height: 250px;
    }
    .team .human{
        max-width: 238px;
        max-height: 80px;
    }
    .team .human_text {
        font-size: 12px;
        margin-top: 20px;
        margin-left: 15px;
    }
    .team .title_team {
        font-size: 30px;
    }
    .team .human img {
        display: block;
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 575px) {
    .team .container {
        max-width: 280px;
        background-position: 35px 130px;
        background-size: 500px 293px;
        padding: 0 10px;
        padding-top: 60px;
        min-height: 600px;
        background:none;
    }
    .team .wrapp {
        width: 100%;
        min-height: 370px;
        margin-top: 30px;
    }
    .team .human{
        min-width: 266px;
        max-height: 115px;
    }
    .team .human img {
        width: 86px;
        height: 86px;
    }
    .team .human_text {
        font-size: 14px;
        margin-top: 14px;
        margin-left: 8px;
    }
    .team .title_team {
        font-size: 30px;
    }
}