{% extends "template.html" %}

{% block page %}
<div class="Calc">
    <section class="calculator">
        <div class="calc-nav">
            <a href="/"><img class="logo" src="../static/img/logo.svg"></img></a>
        </div>

        <div class="calc_head"><h1 class="calc-title">Калькулятор стоимости сайта</h1></div>

        <div class="progress">
            {% for N in range(1,5)%}
                {% if N <= num %}
                    <div class="point these"></div>
                {%else%}
                    <div class="point"></div>
                {%endif%}
            {%endfor%}
        </div>

        <div class="container">

            {%block choise%}{%endblock%}
            
            <div class="calc-contact">
                <h2 class="contact__title">Нужна консультация?</h2>
                <div class="wrapper">
                    <form action="/form/{{num}}" method="post" class="form" autocomplete="off" id="footer-form">
                        <input name="name" id="footer-form__name" class="data" placeholder="Имя" required maxlength="20" type="text">
                    
                        <input name="phone" id="footer-form__phone" class="data" placeholder="Телефон" required type="tel">
                        
                        <input name="email" id="footer-form__email" class="data" placeholder="Почта" required type="email">
                        
                        <button type="submit" class="btn_submit">БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

