{%extends "calc.html"%}

 {%block choise%}
 <div class="calc-form">
    <h2 class="form_title">{{num}}/4 Размер сайта:</h2>

    <form action="/form/{{num}}" class="choise"  method="post">
            <input name="site_type" type="radio" value="landing" id="landing"><span>Лэндинг</span><br>

            <input name="site_type" type="radio" value="multipage" id="multipage"><span>Многостраничник</span><br>
        <p class="subform subform_1">
            <input name="subsite_type" type="radio" value="store" ><span>Интернет-магазин</span><br>

            <input name="subsite_type" type="radio" value="catalog" ><span>Каталог</span><br>

            <input name="subsite_type" type="radio" value="forum" ><span>Форум</span><br>

            <input name="subsite_type" type="radio" value="agregator" ><span>Агрегатор</span><br>

            <input name="subsite_type" type="radio" value="corporat" ><span>Корпоративный сайт</span><br>
            
            <input name="subsite_type" type="radio" value="undeterm" ><span>Свой вариант</span><br>
        </p>
        <button type="button" class="btn_submit btn_calc">Далее</button>
        <div class="error">* Выберите один пункт</div>
    </form>
</div>
{%endblock%}