{%extends "calc.html"%}


 {%block choise%}
 <div class="calc-form">
    <h2 class="form_title">{{num}}/4 Дополнительные опции:</h2>

    <form action="/form_last/{{num}}" class="choise"  method="post">
        <p class="subform" id="form4">
            <input name="addition" type="checkbox" value="translate"><span>Перевод на английский</span><br>
            <input name="addition" type="checkbox" value="robot"><span>Онлайн-консультант</span><br>
            <input name="addition" type="checkbox" value="mailer"><span>E-mail рассылка</span><br>
        </p>
        
        <button type="submit" class="btn_submit">Готово</button>
    </form>
    {{price}}
</div>
{%endblock%}