{% extends "template.html" %}

{% block page %}
    <section class="promo" id="up">
        <div class="container">
            <div class="wrapper">
                <a href="#"><img class="logo" src="../static/img/logo.svg"></img></a>
                <ul class="menu">
                    <li class="menu__item">
                        <a href="#description">О НАС</a>
                    </li>
                    <li class="menu__item">
                        <a href="#products">ПРОДУКЦИЯ</a>
                    </li>
                    <li class="menu__item">
                        <a href="#team">НАШИ  СОТРУДНИКИ</a>
                    </li>
                    <li class="menu__item" id="princip">
                        <a href="#principles">ПРИНЦИПЫ</a>
                    </li>
                    <li class="menu__item">
                        <a href="#contacts">КОНТАКТЫ</a>
                    </li>
                </ul>
                <button data-modal="order" class="btn_start">НАЧАТЬ ПРОЕКТ!</button>
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <h1 class="title">Создаем сайты для решения актуальных бизнес-задач</h1>
            <h2 class="subtitle">Выведем бизнес на новый уровень</h2>
            <button data-modal="order" class="btn_big">КУПИТЬ</button>
        </div>
    </section>

    <section class="description" id="description">
        <div class="container">
            <h2 class="deshead">Проекты, которые сияют</h2>
            <div class="text1">Создаем сайты для решения актуальных бизнес-задач. Расширяем границы вашего бизнеса в цифровых каналах продаж.</div>
            <div class="text2">Проектируем, придумываем, разрабатываем, а порой и настаиваем на внедрении тех решений и технологий, которые появились в процессе работы над проектом.</div>
        </div>
    </section>

    <section class="products" id="products">
        <div class="headline"><div class="head"><h2 class="products_head">Продукция</h2></div></div>
            <div class="container">
                <div class="products_line">
                    <ul class="list">
                        <li class="service" ><div class="wrong_icon"><img src="../static/icons/products/lending.png" alt=""></div>
                            <div class="text"><h2>ЛЭНДИНГ</h2><br>Сайт-визитка с обратной связью и небольшим функционалом для продвижения услуг, проведения акций или рекламы нового товара</div>
                        </li>
                        <li class="service" ><div class="wrong_icon"><img src="../static/icons/products/multipage.png" alt=""></div>
                            <div class="text"><h2>МНОГОСТРАНИЧНИК</h2><br>Для полного представления вашего бизнеса. Положительно скажется на имидже, выгодно отличит вас от конкурентов</div>
                        </li>
                        <li class="service" ><div class="ic_marg"><img src="../static/icons/products/design.png" alt=""></div>
                            <div class="text"><h2>ДИЗАЙН/РЕДИЗАЙН</h2><br>Воплотим уникальную идею в прекрасный визуал для более дружелюбного контакта с целевой аудиторией</div>
                        </li>
                        <li class="service" ><div class="ic_marg"><img src="../static/icons/products/escort.png" alt=""></div>
                            <div class="text"><h2>СОПРОВОЖДЕНИЕ</h2><br>Прогрессивное развитие сайта невозможно без качественного контроля и актуального технического обслуживания</div>
                        </li>
                        <li class="service" ><div class="ic_marg"><img src="../static/icons/products/light_bulb.png" alt=""></div>
                            <div class="text"><h2>ПРАВКИ ПО САЙТУ</h2><br>Если нужно разнообразить или дополнить сайт необходимым функционалом, либо новым визуальным</div>
                        </li>
                        <li class="service" ><div class="ic_marg"><img src="../static/icons/products/advertising.png" alt=""></div>
                            <div class="text"><h2>РЕКЛАМА</h2><br>Создание и сопровождение рекламных кампаний в Яндекс.Директ, Google AdWords и прочих продвижений в сети</div>
                        </li>
                    </ul>
                </div>
            </div>
    </section>
  
    <section class="cost">
        <div class="container">
            <h2 class="title_cost"> Стоимость </h2>
            <div class="wrapper">
                <img src="../static/img/calculate.jpg" alt="calc" class="calc">
                <div class="cost_text">
                    <div class="cost_text_title">
                        Чтобы узнать цену на создание и запуск сайта нужно выяснить, какие задачи он должен решать
                    </div>
                    <div class="cost_text_desc">
                        Web-сайты служат для разных целей и каждый из них выполняет свои функции, занимает разное время в продумывании и создании, и цены за их разработку будут различаться. <br> 
                        Стоимость разработки начинается от 20 000 руб.
                    </div>
                    <button class="btn_cost"><a href="/form/1">РАССЧИТАТЬ СТОИМОСТЬ</a></button>
                </div>
            </div>
            <div class="facts">
                <div class="facts_item">
                    <div class="orange_text">
                        2 часа
                    </div>
                    <div class="blue_text">
                        на заполнение ТЗ
                    </div>
                </div>
                <div class="facts_item">
                    <div class="orange_text">
                        от 40%
                    </div>
                    <div class="blue_text">
                        прирост продаж
                    </div>
                </div>
                <div class="facts_item">
                    <div class="orange_text">
                        от 7 дней
                    </div>
                    <div class="blue_text">
                        на реализацию landing page
                    </div>
                </div>
                <div class="facts_item">
                    <div class="orange_text">
                        поднимем
                    </div>
                    <div class="blue_text">
                        ваш бизнес на новый уровень
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team" id="team">
        <div class="container">
            <h2 class="title_team"> Наша команда </h2>
            <div class="wrapp">
                <div class="human">
                    <img src="../static/img/employees/Sushka.jpg" alt="" class="human_foto">
                    <div class="human_text">
                        Сидоров Александр,
                        <br> бэкенд-разработчик,
                        <br> опыт разработки - 4 года 
                    </div>
                </div>
                <div class="human">
                    <img src="../static/img/employees/Katya.jpg" alt="" class="human_foto">
                    <div class="human_text">
                        Семерикова Екатерина,
                        <br> веб-дизайнер,
                        <br> опыт работы - 3 года
                    </div>
                </div>
                <div class="human">
                    <img src="../static/img/employees/Darina.jpg" alt="" class="human_foto">
                    <div class="human_text">
                        Таразанова Дарина,
                        <br> SEO-специалист,
                        <br> опыт работы - 5 лет  
                    </div>
                </div>
                <div class="human">
                    <img src="../static/img/employees/Danechka.jpg" alt="" class="human_foto">
                    <div class="human_text">
                        Катаев Даниил,
                        <br> фронтенд-разработчик,
                        <br> опыт разработки - 4 года
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="principles" id="principles">
        <div class="container">
            <h2 class="title_principles"> Принципы </h2>
                <img src="../static/img/principles/peoples.png" alt="prinp" class="prinp">
        </div>
        <div class="block_text">
            <div class="block_text_cont">
                <div class="prin_text">
                    <h2>РАЗУМНЫЕ СРОКИ<br>“С ЗАПАСОМ”</h2>
                    Хороший продукт нельзя сделать быстро.
                    <br>Вы это осознаете, и мы тоже.
                    <br>Персонально определяем сроки
                    <br>выполнения проекта.
                </div>
                <div class="prin_text">
                    <h2>ВНИМАТЕЛЬНОСТЬ<br>КАК ПРИОРИТЕТ</h2>
                    Каждый элемент на сайте должен решать 
                    <br>какую-то задачу, нести информацию 
                    <br>и смысл. Уделяем внимание проработке 
                    <br>каждой детали.
                </div>
                <div class="prin_text">
                    <h2>ПОЛНОЕ<br>ПОГРУЖЕНИЕ</h2>
                    У нас нет конвейера и шаблонов.
                    <br>сть опыт и желание решить задачи.
                    <br>Каждый бизнес - уникален.
                    <br>Мы погружаемся в него,
                    <br>исследуя его цели и задачи.  
                </div>
            </div>
        </div>
    </section>

    <footer id="contacts">
        <div class="container">
            <h2 class="footer__title">Свяжитесь с нами</h2>
            <div class="wrapper">
                <form action="/" method="post" class="form" autocomplete="off" id="footer-form">
                    <input name="name" id="footer-form__name" placeholder="Имя" required maxlength="20" type="text">
                    <hr class="divider">

                    <input name="phone" id="footer-form__phone" placeholder="Телефон" required type="tel">
                    <hr class="divider">

                    <input name="email" id="footer-form__email" placeholder="Почта" type="email">
                    <hr class="divider">

                    <textarea name="description" placeholder="Несколько слов о проекте" type="text"></textarea>

                    <button type="submit" class="btn_submit">ОТПРАВИТЬ</button>
                </form>

                <div class="info">
                    <hr class="line">
                    <div class="links">
                        <div class="link">
                            <div class="head_text">
                                КОНТАКТЫ
                            </div>
                            <div class="info_text">
                                <a href="tel:78005553535"> +78005553535</a> <br>
                                contact@webx.com
                            </div>
                        </div>
                        <div class="link">
                            <div class="head_text">
                                АДРЕС
                            </div>
                            <div class="info_text">
                                <a href="https://yandex.ru/maps/47/nizhny-novgorod/house/bolshaya_pokrovskaya_ulitsa_60/YEoYfw9pTkUHQFtsfX9wc31hZA==/?ll=43.989700%2C56.312120&z=16.72" target="_blank"> г. Нижний Новгород <br>
                                ул. Б.Покровская, 60 </a>
                            </div>
                        </div>
                        <div class="link">
                            <div class="head_text">
                                СОЦ СЕТИ
                            </div>
                            <div class="icons_links">
                                <a href="https://www.instagram.com/" target="_blank"><img src="../static/icons/social_networks/instagram.png"></a>
                                <a href="https://telegram.org/" target="_blank"><img src="../static/icons/social_networks/telegram.png"></a>
                                <a href="https://vk.com/" target="_blank"><img src="../static/icons/social_networks/vkontacte.png"></a>  
                            </div>
                        </div>
                        <div class="link">
                            <div class="=icon">
                                <img src="../static/img/logo.png" alt="logo" class="logo_footer">
                            </div>
                            <div class="info_text">
                                © 2021 ООО "WebX" <br>
                                Все права защищены
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </footer>

    <a href="#up" class="page-up">
        <img src="../static/icons/chevron-slide-up.svg" alt="slide_up">
    </a>
{% endblock %}

{%block modal%}
<div class="modal" id="order">
    <div class="modal__close">&times;</div>
    <div class="modal__title">Заполните форму заявки</div>
    <div class="modal__subtitle">и мы перезвоним вам в течении 10 минут</div>
    <form action="#" method="post" class="form form_modal" autocomplete="off">
        <input name="name" placeholder="Имя" required maxlength="20" type="text">
        <hr class="divider">

        <input name="phone" placeholder="Телефон" required type="tel">
        <hr class="divider">

        <input name="email" placeholder="Почта" required type="email">
        <hr class="divider">

        <button type="submit" class="btn_submit">ОТПРАВИТЬ</button>
    </form>
</div>
{% endblock %}