{%extends "calc.html"%}

{%block choise%}

<div class="calc__price">
    {{price}}
    <div class="calc-links">
        <a href="/form/1" class="calc-links__item">Рассчитать стоимость снова</a>
        <a href="/" class="calc-links__item">Главная страница</a>
    </div>
</div>


{% endblock %}